body {
  height: 100%;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 56px;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: -3px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 42px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -3px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: -2px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Vollkorn, serif;
  color: #fff;
  font-size: 17px;
  line-height: 22px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0px;
}

h5 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-family: Vollkorn, serif;
  font-size: 16px;
  line-height: 22px;
  font-style: italic;
  font-weight: 400;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Montserrat, sans-serif;
  color: #7d7d7d;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #5c5c5c;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.button {
  display: inline-block;
  margin-top: 30px;
  margin-right: 400px;
  padding: 15px 35px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  text-align: left;
  letter-spacing: -1px;
  text-decoration: none;
}

.button:hover {
  border-color: #878787;
  background-color: #878787;
  color: #fff;
}

.header {
  height: 100%;
  min-height: 0px;
  padding: 20px;
}

.slider {
  height: 100%;
}

.slide-nav {
  display: none;
}

.slide-1 {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/equipo-startup-bbva-1-e1524492124593.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/equipo-startup-bbva-1-e1524492124593.jpg');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, cover;
}

.slide-2 {
  background-image: url('../images/sheep.jpeg');
  background-position: 50% 0px;
  background-size: cover;
}

.slide-container {
  display: block;
  width: 75%;
  margin-top: 275px;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
}

.right-icon {
  display: block;
  width: 35px;
  height: 40px;
  margin-top: auto;
  margin-right: 0px;
  margin-bottom: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #fff;
  font-size: 30px;
}

.right-icon:hover {
  background-color: rgba(51, 51, 51, 0.49);
  color: #fff;
}

.left-icon {
  display: block;
  width: 35px;
  height: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #fff;
  font-size: 30px;
}

.left-icon:hover {
  background-color: rgba(51, 51, 51, 0.49);
  color: #fff;
}

.navbar {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  width: 100%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  background-color: #777;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.nav-container {
  display: block;
  width: 85%;
  max-width: 2000px;
  margin-right: auto;
  margin-left: auto;
}

.nav-menu {
  float: left;
}

.nav-link {
  padding-top: 13px;
  padding-right: 35px;
  padding-left: 35px;
  float: none;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 13px;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #e3e3e3;
}

.nav-link.w--current {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #fff;
}

.nav-link.w--current:hover {
  color: #e3e3e3;
}

.about {
  padding-right: 20px;
  padding-left: 20px;
}

.left-column {
  padding-right: 10px;
  padding-left: 0px;
}

.right-column {
  padding-right: 0px;
}

.grey-box {
  height: auto;
  min-height: 600px;
  padding-top: 150px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #f5f5f5;
  text-align: center;
}

.about-photo {
  height: 600px;
  background-image: url('../images/desk1.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.row {
  margin-bottom: 20px;
  text-align: center;
}

.about-photo-2 {
  height: 600px;
  background-image: url('../images/desk3.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.portfolio {
  padding-right: 10px;
  padding-left: 10px;
}

.break---numbers {
  padding: 50px 20px;
}

.contact {
  height: auto;
  min-height: 400px;
  margin-bottom: 0px;
  padding: 50px 20px 0px;
  text-align: center;
}

.contact-form {
  margin-top: 100px;
  margin-bottom: 100px;
}

.label {
  font-family: Montserrat, sans-serif;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.text-field {
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  letter-spacing: -1px;
}

.text-area {
  height: 350px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  letter-spacing: -1px;
}

.footer {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.footer-content {
  margin-top: 104px;
  padding: 50px;
  background-color: #242424;
}

.footer-text {
  margin-top: 28px;
  color: #fff;
  line-height: 28px;
}

.services {
  margin-top: 31px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.services-photo {
  height: 600px;
  background-image: url('../images/desk2.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.services-1 {
  overflow: hidden;
  height: auto;
  min-height: 120px;
  padding: 40px 50px 17px;
  background-color: #f5f5f5;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
  text-align: center;
}

.services-1:hover {
  background-color: #e3e1d3;
  background-image: none;
}

.services-1.yahya {
  padding-bottom: 68px;
}

.services-1.ttt {
  padding-bottom: 0px;
}

.services-2 {
  height: auto;
  min-height: 120px;
  margin-bottom: 0px;
  padding: 40px 50px 20px;
  background-color: #f5f5f5;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
  text-align: center;
}

.services-2:hover {
  background-color: #e0cece;
  background-image: none;
}

.services-2.boom {
  padding-bottom: 65px;
}

.services-2.yjy {
  padding-top: 12px;
}

.services-3 {
  height: auto;
  min-height: 120px;
  padding: 40px 50px 71px;
  background-color: #f5f5f5;
  -webkit-transition: all 750ms ease;
  transition: all 750ms ease;
  text-align: center;
}

.services-3:hover {
  background-color: #d1d7e0;
  background-image: none;
}

.services-3.hoho {
  padding-bottom: 1px;
}

.services-3.efw {
  padding-bottom: 25px;
}

.services-3.grge {
  padding-bottom: 0px;
}

.services-3.knkn {
  padding-bottom: 20px;
}

.break---quotes {
  padding: 0px 20px;
  text-align: center;
}

.quote-slider {
  height: 100px;
  background-color: #fff;
}

.quote-1 {
  padding-top: 30px;
  text-align: center;
}

.quote-2 {
  padding-top: 30px;
  text-align: center;
}

.quote-text {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -1.5px;
}

.footer-link {
  color: #fff;
  text-decoration: none;
}

.preloader {
  position: absolute;
  z-index: 2000;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 275px;
  background-color: #f5f5f5;
  text-align: center;
}

.brand-image {
  margin-right: 70px;
}

.footer-logo {
  width: 80px;
}

.slide-3 {
  background-image: url('../images/hoop.jpg');
  background-position: 50% 100%;
  background-size: cover;
}

.portfolio-thumbnail {
  width: 100%;
  height: auto;
}

.portfolio-lightbox {
  width: 100%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.portfolio-lightbox:hover {
  opacity: 1;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.portfolio-hover-colour {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

.colour {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  text-align: center;
}

.colour:hover {
  opacity: 1;
}

.white {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  color: #fff;
}

.portfolio-inner {
  height: 100%;
  padding-top: 40%;
  border: 1px solid #fff;
}

.heading {
  margin-top: 0px;
  padding-top: 82px;
  font-size: 100px;
  text-align: center;
}

.heading-2 {
  margin-top: 30px;
  text-align: center;
}

.heading-3 {
  margin-top: 18px;
  line-height: 45px;
}

.heading-4 {
  margin-top: 31px;
}

.paragraph {
  padding-top: 12px;
}

.image {
  margin-top: 0px;
}

.image-2 {
  margin-top: -29px;
}

.image-3 {
  margin-top: -29px;
}

.paragraph-2 {
  padding-top: 9px;
  padding-bottom: 25px;
  font-size: 20px;
}

.paragraph-3 {
  margin-top: 9px;
  padding-bottom: 60px;
  font-size: 20px;
}

.paragraph-4 {
  margin-top: 9px;
  padding-bottom: 60px;
  font-size: 20px;
}

.heading-5 {
  margin-right: -41px;
  margin-left: -38px;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 20px;
  font-weight: 700;
}

.heading-6 {
  margin-right: -57px;
  margin-left: -60px;
  font-size: 20px;
  line-height: 20px;
}

.heading-7 {
  margin-right: -35px;
  margin-left: -41px;
  font-size: 20px;
}

.heading-8 {
  margin-top: 18px;
  font-size: 35px;
}

.heading-9 {
  margin-top: 2px;
  font-size: 35px;
}

.heading-10 {
  margin-top: 2px;
  font-size: 35px;
}

.body {
  margin-bottom: 0px;
}

.heading-11 {
  margin-top: 0px;
  padding-top: 49px;
  text-align: center;
}

.heading-11.no {
  padding-top: 11px;
  padding-bottom: 0px;
}

.heading-11.ay {
  padding-top: 117px;
  font-size: 85px;
}

.accordion-wrapper {
  margin-top: 50px;
  margin-bottom: 75px;
}

.accordion-item {
  margin-bottom: 20px;
  padding: 24px 30px 14px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.03);
}

.accordion-item-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.accordion-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #000;
  line-height: 30px;
  cursor: pointer;
}

.icon.accordion-icon {
  font-family: 'PT Serif', serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 32px;
  line-height: 30px;
  cursor: pointer;
}

.accordion-item-content {
  overflow: hidden;
  margin-top: 10px;
  margin-right: 30px;
}

.column-2 {
  margin-top: 69px;
}

.heading-12 {
  font-size: 80px;
}

.heading-13 {
  margin-top: 25px;
}

html.w-mod-js *[data-ix="title-slide-in-1"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="title-slide-in-2"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="fade-in-on-scroll"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="services-slide-up-1"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="services-slide-up-2"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="services-slide-up-3"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="preloader-fade-out"] {
  display: block;
  opacity: 1;
}

html.w-mod-js *[data-ix="page-load-fade-in"] {
  opacity: 0;
}

@media screen and (max-width: 991px) {
  h1 {
    margin-bottom: 5px;
    font-size: 48px;
    line-height: 46px;
  }
  h2 {
    font-size: 32px;
    line-height: 31px;
  }
  h4 {
    margin-top: 5px;
  }
  h5 {
    margin-bottom: 15px;
    font-size: 15px;
  }
  p {
    font-size: 13px;
    line-height: 21px;
  }
  .button {
    margin-top: 15px;
    margin-right: 220px;
  }
  .button.w--current {
    margin-right: 220px;
  }
  .slide-container {
    width: 85%;
    margin-top: 250px;
  }
  .navbar {
    position: absolute;
    top: 0px;
  }
  .nav-container {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }
  .nav-menu {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 100px;
    background-color: #fff;
    text-align: center;
  }
  .menu-button {
    position: absolute;
    top: 0px;
    right: 19px;
    z-index: 0;
    margin-top: 30px;
    padding-top: 10px;
  }
  .menu-button:active {
    background-color: transparent;
  }
  .nav-icon {
    color: #fff;
  }
  .nav-link {
    color: #333;
    text-align: center;
  }
  .nav-link.w--current {
    color: #333;
    text-align: center;
  }
  .grey-box {
    height: auto;
    min-height: 400px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .about-photo {
    height: 400px;
  }
  .about-photo-2 {
    height: 400px;
  }
  .break---numbers {
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .services-photo {
    height: 400px;
  }
  .services-1 {
    height: auto;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .services-2 {
    height: auto;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .services-3 {
    height: auto;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .break---quotes {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .quote-text {
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -1px;
  }
  .preloader {
    z-index: 2000;
    padding-top: 200px;
  }
  .mobile-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .brand-image {
    width: 40px;
    margin-left: 5px;
    padding-top: 30px;
  }
  .footer-logo {
    width: 75px;
  }
  .colour {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
  }
  .portfolio-inner {
    padding-top: 35%;
  }
  .image {
    margin-top: 15px;
  }
  .image-2 {
    margin-top: -13px;
  }
  .image-3 {
    margin-top: 0px;
  }
  .heading-8 {
    margin-top: 0px;
    font-size: 30px;
    line-height: 25px;
  }
  .heading-9 {
    font-size: 30px;
  }
  .heading-10 {
    font-size: 30px;
  }
  .heading-12 {
    font-size: 60px;
  }
}

@media screen and (max-width: 767px) {
  .button {
    margin-right: 140px;
  }
  .button.w--current {
    margin-right: 143px;
    margin-left: 51px;
  }
  .header {
    margin-bottom: -200px;
    padding-bottom: 0px;
  }
  .slider {
    height: 100%;
    max-height: 600px;
  }
  .slide-container {
    margin-top: 100px;
  }
  .navbar {
    position: absolute;
  }
  .brand {
    padding-left: 5px;
  }
  .nav-menu {
    padding-top: 60px;
  }
  .menu-button {
    right: 21px;
    padding-top: 0px;
    padding-right: 10px;
  }
  .nav-link {
    padding-bottom: 15px;
  }
  .about {
    padding-top: 0px;
  }
  .left-column {
    margin-top: 20px;
    padding-right: 0px;
  }
  .right-column {
    margin-top: 20px;
    padding-left: 0px;
  }
  .grey-box {
    height: auto;
    min-height: 100px;
    margin-top: 0px;
    padding: 20px;
  }
  .about-photo {
    height: 250px;
  }
  .row {
    margin-bottom: 0px;
  }
  .about-photo-2 {
    height: 250px;
    margin-top: 0px;
  }
  .portfolio {
    padding-right: 10px;
    padding-left: 10px;
    float: left;
  }
  .break---numbers {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact-form {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .footer-content {
    padding: 20px;
    text-align: center;
  }
  .footer-text {
    margin-top: 15px;
    margin-bottom: 35px;
  }
  .services-photo {
    height: 250px;
  }
  .services-1 {
    height: auto;
    min-height: 100px;
    margin-top: 0px;
    padding-bottom: 20px;
  }
  .services-2 {
    height: auto;
    min-height: 100px;
    margin-top: 0px;
    padding-bottom: 20px;
  }
  .services-3 {
    height: auto;
    min-height: 100px;
    margin-top: 0px;
    padding-bottom: 20px;
  }
  .column {
    margin-top: 20px;
    padding: 0px;
  }
  .preloader {
    padding-top: 100px;
  }
  .mobile-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .brand-image {
    margin-left: 0px;
  }
  .footer-logo {
    margin-bottom: 26px;
  }
  .portfolio-column {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .colour {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
  }
  .heading {
    margin-left: -29px;
  }
  .image-2 {
    margin-top: 0px;
  }
  .accordion-item-content {
    margin-right: 0px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 28px;
    line-height: 28px;
  }
  h2 {
    font-size: 28px;
    line-height: 27px;
  }
  h4 {
    font-size: 14px;
    line-height: 15px;
  }
  h5 {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 21px;
  }
  .button {
    margin-right: 41px;
  }
  .header {
    margin-bottom: -200px;
    padding-top: 20px;
  }
  .slider {
    height: 100%;
    max-height: 600px;
  }
  .slide-1 {
    margin-bottom: 0px;
  }
  .slide-container {
    margin-top: 130px;
  }
  .navbar {
    position: absolute;
  }
  .brand {
    padding-left: 0px;
  }
  .nav-menu {
    padding-top: 40px;
    text-align: center;
  }
  .menu-button {
    padding-right: 10px;
  }
  .nav-icon {
    color: #fff;
  }
  .about {
    padding-top: 0px;
  }
  .left-column {
    margin-top: 20px;
  }
  .right-column {
    margin-top: 20px;
  }
  .grey-box {
    margin-top: 0px;
    padding-bottom: 20px;
  }
  .about-photo {
    height: 200px;
  }
  .row {
    margin-bottom: 0px;
  }
  .about-photo-2 {
    height: 200px;
  }
  .break---numbers {
    padding-bottom: 10px;
  }
  .contact {
    margin-top: 30px;
    padding-top: 30px;
  }
  .footer-content {
    text-align: center;
  }
  .services-photo {
    height: 200px;
  }
  .services-1 {
    margin-top: 0px;
  }
  .services-2 {
    margin-top: 0px;
  }
  .services-3 {
    margin-top: 0px;
  }
  .break---quotes {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .quote-slider {
    height: 130px;
  }
  .quote-text {
    font-size: 16px;
    line-height: 24px;
  }
  .mobile-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .brand-image {
    margin-left: 5px;
  }
  .colour {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
  }
  .white {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    font-size: 12px;
    line-height: 16px;
  }
  .portfolio-inner {
    padding-top: 30%;
  }
  .heading {
    margin-left: 0px;
    font-size: 50px;
  }
  .heading-11.ay {
    font-size: 40px;
  }
  .heading-12 {
    font-size: 50px;
  }
}

